@page "/rooflength"

<MudContainer Style="height: 100vh; padding-top: 20px">
    <MudRadioGroup @bind-SelectedOption="Dense_Radio">
            <MudRadio Option="true" Color="Color.Info">Single Aguas</MudRadio>
            <MudRadio Option="false" Color="Color.Info">Dos Aguas</MudRadio>
    </MudRadioGroup>

    <MudCard Elevation="5">
        @if (Dense_Radio == true) {
            <MudCardMedia Image="images/roofLengthDrawing.jpg" Height="200" />
        }
        else
        {
            <MudCardMedia Image="images/roofLengthDrawing2.jpg" Height="200" />
        }
    </MudCard>

    <div style="padding-top: 30px">
        <MudText Typo="Typo.h3" Align="Align.Center"><b>C = @(_c)</b></MudText>
        <MudText Typo="Typo.h6" Align="Align.Center"><b>Hypothenuse</b></MudText>
        <div class="d-flex justify-center" style="padding-top: 15px">
            <MudFab StartIcon="@Icons.Filled.Clear" Label="Clear" Size="Size.Small" Color="Color.Error" OnClick="@clear" />
            <MudFab StartIcon="@Icons.Filled.Calculate" Label="Compute" Size="Size.Small" Color="Color.Info" OnClick="@Compute" Style="margin-left: 20px;" />
        </div>

        <div style="padding-top: 15px">
            <MudNumericField Format="N2" Value="_a" TextChanged="((e) => OnChangeA(e))" Label="Height" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentText="a =" AdornmentColor="Color.Info" Min="0" />
            <br />
            <MudNumericField Format="N2" Value="_b" TextChanged="((e) => OnChangeB(e))" Label="Base" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentText="b =" AdornmentColor="Color.Info" Min="0" />
        </div>
        <br/>
        <MudText Typo="Typo.subtitle2"><b>Note:</b> If residential house add 50mm in Length. If warehouse add 75mm in Length</MudText>
    </div>
</MudContainer>

@code {
    double _c = 0;
    double? _a;
    double? _b;
    public bool Dense_Radio { get; set; } = true;

    private void Compute()
    {
        var formula = (_a * _a) + (_b * _b);
        var result = Math.Sqrt(Convert.ToDouble(formula));
        _c = Convert.ToDouble(result);
    }

    private void clear()
    {
        _c = 0;
        _a = 0;
        _b = 0;
    }

    private void OnChangeA(string e)
    {
        _a = Convert.ToDouble(e);
        Compute();
    }

    private void OnChangeB(string e)
    {
        _b = Convert.ToDouble(e);
        Compute();
    }
}
